My_workflow_7.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C09GJL07BHC",
          "mode": "list",
          "cachedResultName": "akd_com_bot"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6dbdeb70-4c12-49f6-8b57-90864b847560",
      "name": "Slack Trigger",
      "webhookId": "5358eea2-c26e-422c-b742-6ac8641b6878",
      "credentials": {
        "slackApi": {
          "id": "ulm2vdkiB5JOfjNz",
          "name": "Slack account 10"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks[0].elements[0].elements[1].text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an assistant responsible for helping team members query a Google Sheet that contains client emails. \nThe sheet has the following columns: sender, subject, email summary, date, category, EmaID.\n\nYour job:\n- Understand the user’s query and return accurate information from the sheet. \n- Always base your answers ONLY on the data provided in the sheet. Do not invent or guess.\n- If the query does not match anything in the sheet or you cannot find an answer, politely say that no matching emails were found.\n\nResponse style:\n- Be professional, concise, and Slack-friendly.\n- When showing emails, include: sender, subject, category, date, and a short summary.\n- If multiple results are found, show them as a clean, numbered list.\n- If the user just greets (e.g. “hi”, “hello”), reply with a friendly greeting and explain how they can ask for emails (e.g. by sender, category, or date).\n\nNote that you dont have to summarize the mail in the sheet,if possible let it make more sense to the team.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "ebeb7f90-b946-4fd3-a67c-07ab21434460",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        220
      ],
      "id": "e58841b9-e5dc-4b45-b54f-ea5de0e483f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3I2HltMBB9xptAC3",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "{{ $json.channel }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        337.5,
        220
      ],
      "id": "9e231a44-3856-4428-b1f5-6b46d14a1131",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h3pTq_tEb-vfAcROmJgS7Jqub2S0SEOM7TQKGx3sxYE",
          "mode": "list",
          "cachedResultName": "AKD-MAILS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h3pTq_tEb-vfAcROmJgS7Jqub2S0SEOM7TQKGx3sxYE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h3pTq_tEb-vfAcROmJgS7Jqub2S0SEOM7TQKGx3sxYE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        480,
        220
      ],
      "id": "5c74b2fe-4e52-45c3-bc7c-2dcbadfd3466",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hIXyNgKwxvVB7BDK",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09GJL07BHC",
          "mode": "list",
          "cachedResultName": "akd_com_bot"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        580,
        0
      ],
      "id": "0cc73dae-7716-4d07-a0a3-523722a595c6",
      "name": "Send a message",
      "webhookId": "f7f1998c-94e7-4cc6-b7ef-ee9f404165a2",
      "credentials": {
        "slackApi": {
          "id": "ulm2vdkiB5JOfjNz",
          "name": "Slack account 10"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5671337d-b958-46ba-a051-574f15584c1d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "421d6a021e837de492067b5220ce6b9ea958a56438619fc6364f8bb265514d99"
  },
  "id": "GghoagSskAamvm8f",
  "tags": []
}